{% extends 'base/base.html' %}

{% block title %}Searched Supplier Details{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Supplier</a></li>
                            <li class="active">Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Supplier List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Supplier/Dept</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if email %}
                        {% for se in se %}
                        <tr>

                            <td>{{ se.id }}</td>
                            <td>Supplier</td>
                            <td>{{ se.name }}</td>
                            <td>{{ se.email }}</td>
                            <td>{{ se.mobile }}</td>

                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr><td>No matching Supplier Data found</td></tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->


</div>
{% endblock content %}